form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}
label {
  font-size: 1em;
  padding: 5px;
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--disabled);
  border-radius: 4px;
  font-family: inherit;
}

textarea {
  resize: vertical;
  height: 200px;
  line-height: inherit;
}
input:focus {
  border-color: #007bff;
  outline: none;
}

button[type='submit'] {
  border: none;
  background: none;
  width: fit-content;
  cursor: pointer;
  padding: 5px;
  font-size: 1rem;
  align-self: flex-end;
  &::after {
    content: ' →';
    font-size: 1.33rem;
  }
}
